<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tran.report.mapper.CustomMapper">
    <resultMap id="customMap" type="com.tran.report.model.Custom">
		<id property="customId" column="custom_id" />
		<result property="customName" column="custom_name" />
		<result property="customIphone" column="custom_iphone" />
		<result property="customAddress" column="custom_address" />
		<result property="customStatus" column="custom_status" />
		<result property="registerTime" column="register_time" />
		<result property="editTime" column="edit_time" />
	</resultMap>
    <select id="getCustomInfo" resultMap="customMap">
      SELECT * FROM custom_info;
    </select >
    
    <select id="getCustomById" resultMap="customMap">
    SELECT * FROM custom_info WHERE custom_id=#{customId};
    </select >
   
</mapper>