<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tran.report.mapper.CustomBillMapper">
  <resultMap id="dayBillMap" type="com.tran.report.model.CustomBill">
		<id property="billId" column="day_bill_id" />
		<result property="customId" column="custom_id" />
		<result property="elecAmount" column="elec_amount" />
		<result property="createTime" column="day_date" />
	</resultMap>
    <resultMap id="monthBillMap" type="com.tran.report.model.CustomBill">
		<id property="billId" column="month_bill_id" />
		<result property="customId" column="custom_id" />
		<result property="elecAmount" column="elec_amount" />
		<result property="createTime" column="month_date" />
	</resultMap>
	 <resultMap id="yearBillMap" type="com.tran.report.model.CustomBill">
		<id property="billId" column="year_bill_id" />
		<result property="customId" column="custom_id" />
		<result property="elecAmount" column="elec_amount" />
		<result property="createTime" column="year_date" />
	</resultMap>


    <select id="getDayBill" resultMap="dayBillMap">
    SELECT * FROM load_day_bill;
    </select >

    <select id="getMonthBill" resultMap="monthBillMap">
    SELECT * FROM load_month_bill;
   <!--  SELECT  *  FROM load_month_billcustom_info WHERE  month_date<'2018'AND month_date>'2017'; -->
    </select >
    

    <select id="getYearBill" resultMap="yearBillMap">
    SELECT * FROM load_year_bill;
    </select >
    
    
     <select id="getDayBillByCustomId" resultMap="dayBillMap">
    <!--   SELECT l.elec_amount,l.day_date  FROM load_day_bill l WHERE custom_id=#{CustomId} AND month_date<#{startTime}AND month_date>#{endTime}; -->
    </select >
    
     <select id="getMonthBillByCustomId" parameterType="int" resultMap="monthBillMap">
      SELECT  l.elec_amount,l.month_date  FROM load_month_bill l
      WHERE custom_id='#{CustomId}';
    </select >
 <!--    <select id="getYearBillByCustomId" resultMap="yearBillMap">
      SELECT  l.elec_amount,l.year_date  FROM load_year_bill l
      WHERE custom_id='#{CustomId}' AND month_date<#{startTime}AND month_date>#{endTime};
    </select > -->

   
</mapper>