<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tran.report.mapper.UserMapper">
	<resultMap type="com.tran.report.model.User" id="userMap">
		<id column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_password" property="userPassword" />
	</resultMap>
	<resultMap type="com.tran.report.model.Custom" id="customMap">
		<id column="custom_id" property="customId" />
		<result column="custom_name" property="customName" />
		<result column="custom_Iphone" property="customIphone" />
		<result column="custom_Address" property="customAddress" />
		<result column="custom_Status" property="customStatus" />
		<result column="register_Time" property="registerTime" />
		<result column="edit_Time" property="editTime" />
	</resultMap>

	<select id="findUserByName" parameterType="String" resultMap="userMap">
		SELECT * FROM USER WHERE user_name=#{userName}
	</select>

	<select id="getCustomByuserId" parameterType="String" resultMap="customMap">
		SELECT * FROM custom_info WHERE custom_id=#{userId}
	</select>

</mapper>